body{
	font-family: Helvetica;
	text-align: center;
}

header{
	background-image: url(../images/the-flatiron-building.png);
	text-align: center;
	margin: auto;
	max-width: 1830px;
	height: 297px;
}

h1{
	color: white;
	font-size: 70px;
	font-weight: bold;
}

li{
	list-style-type: none;
	line-height: 35px
}

a{
	color: white;
	font-size: 18px;
}

footer{
	text-align: left;
	background-color: dimgray;
	color: white;
}
#contrast{
	background-image: url(../images/the-flatiron-building.png);
	color: white;
	margin: auto;
	max-width: 1830px;
}